<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div>
        <header>
            <div>
                <a class="button1" href="/">Home</a>
            </div>
                <div>
                        <a class="button1" href="/web_sites">Web Site</a>
                        <a class="button1" href="/arts">Arts</a>
                        <a class="button1" href="/apps">Apps</a>       
                </div>         
        </header>
        <hr>
        </div>
<div class="center"> 
    <div class="right">
        <h1>
            Olá! Eu sou <span= class=color0>Djalma </span> <span> M. Resende,<br/></span> 
            <span class="color1">Desevolvedor Full Stack.</span>
        </h1>
        <p>
            Sou apaixonado pelo mundo do desenvolvimento web, 
            desde a criação de sites até a implementação de 
            soluções complexas de comércio eletrônico, 
            cada projeto é uma oportunidade emocionante 
            para aprender e crescer como profissional.
        </p>
        <div class="container">

            <input type="submit" value="Contrate-me">
    
        </div>
    </div>
    <div class="right1">
        <div>
            <center>
                <img src="https://i.ibb.co/Z896D1v/download20230701231032.png" class="imagen" height="300%" width="300" class="right">
            </center>
        </div>
    </div>
</div>
</body>